.file-attach{
    font-size: 20px;
    position: absolute;
    left: 10px;
    bottom: 30px;
    cursor: pointer;
}

.message-area{
    resize: none;
    padding-left: 35px;
}

.message-block{
    position: relative;
}

.media.alert{
    border: solid 1px #c3c3c3;
}
.media.alert p strong{
    margin-right: 10px;
}
.media{
    border-bottom: solid 1px #c1c1c1;
    padding-bottom: 5px;
}
.media-heading{
    font-weight: bold;
    font-size: 16px;
}
.mt-30{
    margin-top: 30px;
}